namespace TripManagmentSystem.Views.Hotel
{
<form method="post">
    <input type="text" name="Name" placeholder="Hotel Name" required />
    <textarea name="Description" placeholder="Description" required></textarea>
    <input type="number" name="Price" placeholder="Price" required />
    <input type="number" name="Stars" placeholder="Stars" required />
    <input type="file" name="ImageUrl" required />
    <button type="submit">Add Hotel</button>
</form>

}
